@{
    ViewData["Title"] = "Home Page";
}

<h1>
    DESP Regiration and Login.
</h1>

<p>CIAM High Level Design : <a href="https://msdconnect.atlassian.net/wiki/spaces/IMP/pages/2803270839/Development+Environment+High+Level+Design/">Click here for HLD confluence page</a>.</p>
<img src="/images/hld.png"/>